@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont.eot?t=1594630710996"); /* IE9 */
  src: url("../font/iconfont.eot?t=1594630710996#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
      url("data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALQAAsAAAAABqgAAAKEAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBLIEuATYCJAMICwYABCAFhG0HNxvbBRHVi3OyLyEnG3kgVfVSIhm9Byr4f4kDN5jnsB6oFKYgAQAAAAAi+Bpjv+/uUE2qkaGKNtEElUSCkM2mEzqRSEiEZBG+hszI3O4GnshPiFeaacWbVrxdEmKhiYb4ETMEQEYww/dAw9C/zc3QNYYIw5ScB/m/fUc6WOHS8KO+Zn2ey+ndVSAFMj9QTnNM6x31Aoy3BroHRpEVUMgtw2tdSgf1mECtHlNiaUyXgWoFWRWIo9RrANW5qKKohWqhsuZgEQ8qVKfLFOA+/H789QdBUpGRlo3DVBuY+yppCcuf5b5PiBHw8QpkTKEQO7XZNVmonKw2Wwywr8bgq3zfLvZqEepfR+rrQRdI70nG5bdan0CB6RnMjQpR6smu1olwdVvdaeZ1ealzKdvB7zvr2vuGvXpYOWpHa7tSruyXl9j4o3KiV+RU1ncx2YuS9ojWxQIPm6/KWhYuenw9XeqaR9uszy6fW59MxuPI6N9GPD+nf+JvPB784pP/6roC3vrCobno51d9Kl/wy2Q9u4qjIIZ0cCn2JTOZsASItYAfEmz1OdbYcX/uUJ2TqUiqdCOrNkQW1hQq1JlGpWqzqDVp9XidNseyKDWYcIoQmj0hafSCrNkrWVgfqNDpPyo1B4xaeyFfWGck0KRi1IIOzB+Spd0zh6io8Y7hXDVnFSH3jZxTArq6LRYm3JHn2JI/oRfx4Jk2GNFzuK4EB9OMVuoocgxN4+veVFvaCiVGLejA/CFZ2r3fX1Tp83cM56q5hdYWfSPnNDt0dduDnLR7L9q9vJI/oRfx4Jk2GNE8XFeCo37ejFbqOCJ9DA3t5ftq6/X129cdgFrElILekHkS6cwnWZ2c3osC")
      format("woff2"),
    url("../font/iconfont.woff?t=1594630710996") format("woff"),
    url("../font/iconfont.ttf?t=1594630710996") format("truetype"),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
      url("../font/iconfont.svg?t=1594630710996#iconfont") format("svg"); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shousuocaidan:before {
  content: "\e61f";
}
